@include keyframes(movecards) {
    0% {
        margin-left: 120vw;
    }

    40% {
        margin-left: 25vw;
    }

    60% {
        margin-left: 25vw;
    }

    100% {
        margin-left: -120vw;
    }
}

.cv-items {
    padding: 20px 0;
    position: absolute;
    top: 33vh;
    @include flexbox();
    @include flex-direction(row);
    @include transform(translate3d(0, 0, 0));

    .cv-item {
        position: absolute;
        margin-left: 120vw;
        font-size: 10px;
        width: 50vw;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        padding: 10px;
        color: #fff;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        opacity: 0.7;
        @include transform(translate3d(0, 0, 0));

        &.active {
            @include animation('movecards 10s linear');

            @include tablet {
                border: 2px solid red;
                @include animation('movecards 20s linear');
            }

            @include desktop {
                border: 2px solid green;
                @include animation('movecards 30s linear');
            }
        }
    }
}
